
build/
out/
x64/
x86/
Debug/
Release/
*.obj
*.exe
*.pdb
*.ilk
*.lib
*.dll
*.exp
*.idb
.env


CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CMakeSettings.json


.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.suo
*.opensdf
*.sdf
*.ipch


logs/


.DS_Store
Thumbs.db
desktop.ini
